.env/
.idea/
config.py
config
# ---------------------------
# Python umumiy fayllar
# ---------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------
# Virtual environment
# ---------------------------
env/


# ---------------------------
# OS fayllar
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Loglar
# ---------------------------
*.log
*.out
*.err

# ---------------------------
# IDE fayllari
# ---------------------------
.vscode/
.idea/
*.swp
*.swo

# ---------------------------
# Tokenlar va maxfiy fayllar
# ---------------------------
*.config.py

# ---------------------------
# Cache
# ---------------------------
.cache/
*.cache
.cache/*
__pycache__



# ---------------------------
# yt-dlp va ffmpeg chiqishlari
# ---------------------------
*.part
*.ytdl
*.aria2
*.aria2c

# ----------------------------
# Telegram botga tegishli
# ----------------------------
session*
*.session
*.session-journal
